<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="autor" content="Mega Pipelines">
    <meta name="keywords" content="mortgage, leads, unlimited, refinance, solar, sales, loans, pipeline">
    <meta name="description" content="Mega Pipelines is the best sales resource, providing unlimited sales leads for mortgage, solar, insurance and home services.  Why pay per opportunity when you can have unlimited sales at your fingertips.">
    <link rel="canonical" href="https://megapipelines.com/">
    <link rel="icon" type="image/png" href="assets/img/favicon.png">
<link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
    <title>ROI Calculator</title>
    <meta property="og:url" content="https://megapipelines.com/">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Mega Pipelines">
    <meta property="og:title" content="ROI Calculator">
    <meta property="og:description" content="Mega Pipelines is the best sales resource, providing unlimited sales leads for mortgage, solar, insurance and home services.  Why pay per opportunity when you can have unlimited sales at your fingertips.">
    <meta property="og:image" content="https://megapipelines.com/assets/img/thumbnail.png">
	<link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap" rel="stylesheet">	
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
	<script src="mpp-controller.js"></script>
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/animate.min.css">
	<link rel="stylesheet" href="assets/css/pe-icon-7-stroke.css">
	<link rel="stylesheet" href="assets/css/fontawesome.min.css">
	<link rel="stylesheet" href="assets/css/meanmenu.css">
	<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="assets/css/responsive.css">
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-WY7HSPN787"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-WY7HSPN787');
	</script>
</head>
<body ng-app="MPPApp" ng-controller="MPPContent">
	<div class="preloader">
		<div class="d-table">
			<div class="d-table-cell">
				<div class="lds-spinner">
					<div></div><div></div><div></div>
					<div></div><div></div><div></div>
					<div></div><div></div><div></div>
					<div></div><div></div><div></div>
				</div>
			</div>
		</div>
	</div>
	<div class="navbar-area">
		<div class="techmax-responsive-nav index-navber-responsive">
			<div class="container">
				<div class="techmax-responsive-menu">
					<div class="logo">
						<a href="/">
							<img src="assets/img/logo-black.svg" class="white-logo" alt="logo">
							<img src="assets/img/logo-black.svg" class="black-logo" alt="logo">
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="techmax-nav index-navber">
			<div class="container">
				<nav class="navbar navbar-expand-md navbar-light">
					<a class="navbar-brand" href="/">
						<img src="assets/img/logo-black.svg" class="white-logo" alt="logo">
						<img src="assets/img/logo-black.svg" class="black-logo" alt="logo">
					</a>
					<div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
						<ul class="navbar-nav">
							<li class="nav-item"> 
								<a href="product.html" class="nav-link">Product</a>
							</li>
							<li class="nav-item">
								<a href="pricing.html" class="nav-link">Pricing</a>
							</li>
							<li class="nav-item">
								<a href="company.html" class="nav-link">Company</a>
							</li>
							<li class="nav-item">
								<a href="industries.html" class="nav-link">Industries</a>
							</li>
							<li class="nav-item"> 
								<a href="#" class="nav-link">Resources <i class="fas fa-chevron-down"></i></a>
								<ul class="dropdown-menu">
 
									<li class="nav-item">
										<a href="best-practices.html" class="nav-link">Best Practices</a>
									</li>
									<li class="nav-item">
										<a href="faq.html" class="nav-link">FAQs</a>
									</li>
									<li class="nav-item">
										<a href="training-support.html" class="nav-link">Training and Support</a>
									</li>
 									<li class="nav-item">
										<a href="integrated-dialer.html" class="nav-link">Integrated Dialer</a>
									</li>
 									<li class="nav-item">
										<a href="verification-process.html" class="nav-link">Lead Verification</a>
									</li>
 									<li class="nav-item">
										<a href="roi-calculator.html" class="nav-link">ROI Calculator</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a href="https://account.megapipelines.com/#/login" class="nav-link">Login</a>
							</li>
						</ul>
						<div class="other-option">
							<a class="default-btn" href="https://account.megapipelines.com/#/register">Try It Free <span></span></a>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
	<div class="page-title-area">
		<div class="d-table">
			<div class="d-table-cell">
				<div class="container">
					<div class="page-title-content">
						<h2>ROI Calculator</h2>
						<ul>
							<li><a href="/">Home</a></li>
							<li>ROI Calculator</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="contact-section section-padding">

		<div class="container">

			<div class="row calculator">

				<div class="col-lg-12 col-md-12">
					<div>
						<h2 class="dummy-link">ROI Calculator</h2>
						<p>We came up with this ROI Calculator to help you visualize the impact of implementing a program with Mega Pipelines</p>
						<p>Enter in the fields in the blue boxes below what your monthly return on investment will be by using.</p>
						<p>Results vary based on your performance, and subscription costs are subject to change according to the <a target="_blank" href="terms-conditions.html">Terms and Conditions</a>.</p>
					</div>
				</div>

				<div class="col-lg-6 col-md-12">

					<div>
						<h5 class="border-bottom border-dark label-primary mt-4">Your Current Commission</h5>
						<div class="row align-items-center" data-toggle="tooltip" data-placement="top" title="Enter your typical average funded loan month.">
							<div class="col-lg-8">
								<p>Current Deals Closed Per Month</p>
							</div>
							<div class="col-lg-4">
								<select ng-model="cal.field_deals" id="field_deals" class="form-control formula-input">
									<option value="1" selected>1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
									<option value="11">11</option>
									<option value="12">12</option>
									<option value="13">13</option>
									<option value="14">14</option>
									<option value="15">15</option>
									<option value="16">16</option>
									<option value="17">17</option>
									<option value="18">18</option>
									<option value="19">19</option>
									<option value="20">20</option>
								</select>
							</div>
						</div>
						<div class="row align-items-center">
							<div class="col-lg-8">
								<p>Industry You Work</p>
							</div>
							<div class="col-lg-4">
								<select ng-model="cal.industry" class="form-control formula-input">
									<option value="mortgage">Mortgage</option>
									<option value="solar">Solar</option>
									<option value="insurance">Insurance</option>
									<option value="realestate">Real Estate</option>
									<option value="personal">Personal Loan</option>
								</select>
							</div>
						</div>
						<div class="row align-items-center" data-toggle="tooltip" data-placement="top" title="Take your total amount of loans funded last month divided by number of loans.">
							<div class="col-lg-8">
								<p>Your Average Loan Size (if Mortgage)</p>
							</div>
							<div class="input-group col-lg-4">
								<div class="input-group-append">
									<span class="input-group-text">$</span>
								</div>
								<input ng-model="cal.field_loan_size" type="number" min=0 id="field_loan_size" class="form-control formula-input" value="0">
							</div>
						</div>
						<div class="row align-items-center" data-toggle="tooltip" data-placement="top" title="Take your last commission check divided by the total dollar amount of loans closed.">
							<div class="col-lg-8">
								<p>Bps Earned Per Loan (if Mortgage)</p>
							</div>
							<div class="input-group col-lg-4">
								<input ng-model="cal.field_bps" type="number" min="0" max="100" id="field_bps" class="form-control formula-input" value="0">
									<div class="input-group-append">
										<span class="input-group-text">%</span>
								    </div>
							</div>
						</div>
						<div class="row align-items-center">
							<div class="col-lg-8">
								<p>Average Commission Earned Per Closed Deal</p>
							</div>
							<div class="col-lg-4 text-right">
								<h4 ng-show="avgCommision()" id="first_result">${{avgCommision()|number:2}}</h4>
							</div>
						</div>
					</div>

					<div>
						<h5 class="border-bottom border-dark label-primary mt-4">Mega Pipeline Stats You Expect</h5>
						<div>
							<div class="row align-items-center" data-toggle="tooltip" data-placement="top" title="Usually each Dialer can call between 80 and 200 leads per day.">
								<div class="col-lg-8">
									<p>Leads You'll Call Per Day <span ng-show="cal.party_dialer=='yes'&&!cal.leads_per_day" class="text-danger">(* required)</span></p>
								</div>
								<div class="col-lg-4">
									<input ng-model="cal.leads_per_day" class="form-control formula-input">
									
								</div>
							</div>
							<div class="row align-items-center">
								<div class="col-lg-8">
									<p>Monthly Leads Called</p>
								</div>
								<div class="col-lg-4">
									<span class="form-control">{{monthlyLeadsCalled() | number:0}}</span>
								</div>
							</div>
							<div class="row align-items-center" data-toggle="tooltip" data-placement="top" title="Depending on how you filter your leads, and your script and work processes, you can experience a wide range of performance from as high as 10% to as low as 0.01%.">
								<div class="col-lg-8">
									<p>Application Rate of Leads Called</p>
								</div>
								<div class="input-group col-lg-4">
									<input ng-model="cal.application_rate_leads_called" type="number" min="0" max="100" class="form-control formula-input">
									<div class="input-group-append">
										<span class="input-group-text">%</span>
								    </div>
								</div>
							</div>
							<div class="row align-items-center">
								<div class="col-lg-8">
									<p># of Monthly Applications</p>
								</div>
								<div class="col-lg-4">
									<span class="form-control">{{MonthlyApplication() | number:0}}</span>
								</div>
							</div>
							<div class="row align-items-center">
								<div class="col-lg-8">
									<p>Application Close Rate</p>
								</div>
								<div class="input-group col-lg-4">
									<input ng-model="cal.application_close_rate" type="number" min="0" max="100" class="form-control formula-input">
									<div class="input-group-append">
										<span class="input-group-text">%</span>
								    </div>
								</div>
							</div>
							<div class="row align-items-center">
								<div class="col-lg-8">
									<p>Incremental Loans per Month</p>
								</div>
								<div class="col-lg-4">
									<span class="form-control">{{IncrementalLoansMonth()}}</span>
								</div>
							</div>
							<div class="row align-items-center" data-toggle="tooltip" data-placement="top" title="To get someone to work for more than 8 hours a day is not likely.  Most Dialers work from 3 to 8 hours per day.">
								<div class="col-lg-8">
									<p>Hours Calling Support Calls / Day</p>
								</div>
								<div class="col-lg-4">
									<select ng-model="cal.hours_calling_day" class="form-control formula-input">
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
									</select>
								</div>
							</div>
							<div class="row align-items-center">
								<div class="col-lg-8">
									<p>Total Monthly Calling Hours</p>
								</div>
								<div class="col-lg-4">
									<span class="form-control">{{TotalMonthlyCallingHours()}}</span>
								</div>
							</div>
							<div class="row align-items-center" data-toggle="tooltip" data-placement="top" title="Yes or No.  If No, don't require Leads You'll Call Per Day.  If Yes, require a dollar value for Leads You'll Call Per Day.">
								<div class="col-lg-8">
									<p>Use a 3rd Party Dialer</p>
								</div>
								<div class="col-lg-4">
									<select ng-model="cal.party_dialer" class="form-control formula-input" ng-change="changePartyDialer()">
										<option value="yes">Yes</option>
										<option value="no">No</option>
									</select>
								</div>
							</div>
							<div class="row align-items-center" ng-show="cal.party_dialer!='no'" data-toggle="tooltip" data-placement="top" title="Typical range of a person doing Dialing on your behalf is as low as $5.00 per hour and as high as $11.00 per hour.">
								<div class="col-lg-8">
									<p>Hourly Caller Cost</p>
								</div>
								<div class="col-lg-4">
									<select ng-model="cal.hour_caller_cost" class="form-control formula-input">
										<option value="5.00">$5.00</option>
										<option value="5.25">$5.25</option>
										<option value="5.50">$5.50</option>
										<option value="5.75">$5.75</option>
										<option value="6.00">$6.00</option>
										<option value="6.25">$6.25</option>
										<option value="6.50">$6.50</option>
										<option value="6.75">$6.75</option>
										<option value="7.00">$7.00</option>
										<option value="7.25">$7.25</option>
										<option value="7.50">$7.50</option>
										<option value="7.75">$7.75</option>
										<option value="8.00">$8.00</option>
										<option value="8.25">$8.25</option>
										<option value="8.50">$8.50</option>
										<option value="8.75">$8.75</option>
										<option value="9.00">$9.00</option>
										<option value="9.25">$9.25</option>
										<option value="9.50">$9.50</option>
									</select>
								</div>
							</div>
							<div class="row align-items-center" ng-show="cal.party_dialer!='no'" data-toggle="tooltip" data-placement="top" title="It is suggested that you start with 1 person dialing (if anyone) and then add as you find success.">
								<div class="col-lg-8">
									<p>Number of Callers dialing for you</p>
								</div>
								<div class="col-lg-4">
									<select ng-model="cal.no_callers_dialing" class="form-control formula-input">
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
									</select>
								</div>
							</div>
							<div class="row align-items-center" data-toggle="tooltip" data-placement="top" title="Use this to drive pricing in Application Close Rate">
								<div class="col-lg-8">
									<p>Mega Pipelines Account Type</p>
								</div>
								<div class="col-lg-4">
									<select ng-model="cal.account_type" class="form-control formula-input">
										<option value="individual">Individual</option>
										<option value="team">Team</option>
									</select>
								</div>
							</div>
							<div class="row align-items-center" data-toggle="tooltip" data-placement="top" title="Use this to drive Application Close Rate pricing.">
								<div class="col-lg-8">
									<p>Mega Pipelines Payment Plan</p>
								</div>
								<div class="col-lg-4">
									<select ng-model="cal.payment_plan" class="form-control formula-input">
										<option value="month">Monthly</option>
										<option value="quart">Quarterly</option>
									</select>
								</div>
							</div>
							<div class="row align-items-center">
								<div class="col-lg-8">
									<p>Total Calling Cost</p>
								</div>
								<div ng-show="totalCallingCost()" class="col-lg-4 text-right">
									${{totalCallingCost()|number:2}}
								</div>
							</div>
							<div class="row align-items-center">
								<div class="col-lg-8">
									<p>Mega Pipelines Subscription Cost</p>
								</div>
								<div ng-show="mplcost()" class="col-lg-4 text-right">
									${{mplcost()|number:2}}
								</div>
							</div>
							<div class="row align-items-center border-top border-dark">
								<div class="col-lg-8">
									<h4>Total Incremental Cost</h4>
								</div>
								<div ng-show="totalIncrementalCost()" class="col-lg-4 text-right">
									<h4 ng-show="totalIncrementalCost()">${{totalIncrementalCost()|number:2}}</h4>
								</div>
							</div>
							<div class="row align-items-center" data-toggle="tooltip" data-placement="top" title="Yes or No Selection.  If Yes is chosen, require a Self Generation bps rate entered below.">
								<div class="col-lg-8">
									<p>Self Generation Commission Rate</p>
								</div>
								<div class="col-lg-4">
									<select ng-model="cal.self_generation_comission_rate" class="form-control formula-input">
										<option value="yes">Yes</option>
										<option value="no">No</option>
									</select>
								</div>
							</div>
							<div ng-show="cal.self_generation_comission_rate!='no'" class="row align-items-center" data-toggle="tooltip" data-placement="top" title="Only applies if you earn a separate commission rate for self-generated business, which Mega Pipelines would be.">
								<div class="col-lg-8">
									<p>Self Generation bps rate</p>
								</div>
								<div class="input-group col-lg-4">
									<input ng-model="cal.self_generation_bps_rate" type="number" min="0" max="100" class="form-control formula-input">
									<div class="input-group-append">
										<span class="input-group-text">%</span>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="col-lg-6 col-md-12 roi-results">


					<div>
						<h5 class="border-bottom border-dark label-primary mt-4">Your New Commission Results</h5>
						<div>
							<div class="row align-items-center">
								<div class="col-lg-8">
									<p>Additional Commission Profited</p>
								</div>
								<div class="col-lg-4 text-right">
									<h6 class="formula-result" ng-show="aditionalCommissionProfited()">${{aditionalCommissionProfited() | number:2}}</h6>
								</div>
							</div>
							<div class="row align-items-center">
								<div class="col-lg-8">
									<p>Monthly Return on Investment</p>
								</div>
								<div class="col-lg-4 text-right">
									<h6 class="formula-result" ng-show="montlyReturnInvestment()">{{montlyReturnInvestment() | number:0}}%</h6>
								</div>
							</div>
							<div class="row align-items-center">
								<div class="col-lg-6">
									<p>New Commission after Mega Pipelines</p>
								</div>
								<div class="col-lg-6">
									<h4 class="text-right" ng-show="newCommissionRate()">${{newCommissionRate() | number:2}}</h4>
								</div>
							</div>
							<div class="row align-items-center">
								<div class="col-lg-6">
									<p style="white-space: nowrap;"><b>Ready to make your sales pipeline Mega?</b></p>
									<a href="https://account.megapipelines.com/#/register?program_id=14&trial_version=1" type="submit" class="default-btn">Try It Free <span></span></a>
								</div>
							</div>
						</div>
						
					</div>

				</div>

			</div>

		</div>

	</div>


	<section class="hire-section">

		<div class="container">

			<div class="row">

				<div class="col-lg-8 offset-lg-2 col-md-12">

					<div class="hire-content">

						<h2>Have more questions about growing your sales?</h2>

						<p>Contact us and one of our talented Pipeline Growth Analysts will contact you to help you get started.</p>

						<div class="hire-btn">

							<a class="default-btn-one" href="contact.html">Contact Us <span></span></a>

						</div>

					</div>

				</div>

			</div>

		</div>

	</section>

	<section class="footer-area section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<div class="footer-heading">
							<h3>About Us</h3>
						</div>
						<p>Mega Pipelines is your extraordinary partner to help you grow your sales pipeline without growing your lead budget.</p>
						<ul class="footer-social">
							<li>
								<a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
							</li>
							<li>
								<a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
							</li>
							<li>
								<a target="_blank" href="https://www.instagram.com/megapipelines/"><i class="fab fa-instagram"></i></a>
							</li>
							<li>
								<a target="_blank" href="https://linkedin.com/company/mega-pipelines/"><i class="fab fa-linkedin"></i></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<div class="footer-heading">
							<h3>Discover</h3>
						</div>
						<ul class="footer-quick-links">
							<li><a href="product.html">Product</a></li>
							<li><a href="pricing.html">Pricing</a></li>
							<li><a href="faq.html">FAQs</a></li>
							<li><a href="industries.html">Industries</a></li>
							<li><a href="https://account.megapipelines.com/#/login">Register or Sign In</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<div class="footer-heading">
							<h3>Quick Links</h3>
						</div>
						<ul class="footer-quick-links">
							<li><a href="mailto:support@megapipelines.com">Submit a Ticket</a></li>
							 
							<li><a href="contact.html">Contact Us</a></li>
							<li><a href="privacy-policy.html">Privacy Policy</a></li>
							<li><a href="terms-condition.html">Terms and Conditions</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<div class="footer-heading">
							<h3>Contact Information</h3>
						</div>
						<div class="footer-info-contact">
							<span><strong>Phone:</strong> <a href="tel:8559796342">(855) 979-MEGA (6342)</a></span>
						</div>
						<div class="footer-info-contact">
							<span><strong>Email:</strong> <a href="mailto:sales@megapipelines.com">sales@megapipelines.com</a></span>

						</div>
						<div class="footer-info-contact">
							<span><strong>Address:</strong> 360 Central Avenue First Central Tower, Suite 800, St. Petersburg, FL 33701, United States</span>

						</div>
						<span id="newsletter-message">You have succesfully subscribed!</span>
						<form id="newsletter" class="newsletter-form" method="post" action="javascript:;" onsubmit="news(this)">
							<input type="hidden" id="general" name="timestamp">
							<input type="email" name="email" class="input-newsletter" placeholder="Enter your email" required autocomplete="off">
							<button type="submit" class="default-btn">Subscribe</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="copyright-area">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 col-md-6">
					<p><i class="far fa-copyright"></i> 2023 Mega Pipelines LLC - All Rights Reserved.</p>
				</div>
				<div class="col-lg-6 col-md-6">
					<ul>
						<li>
							<a href="terms-condition.html">Terms & Conditions</a>
						</li>
						<li>
							<a href="privacy-policy.html">Privacy Policy</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="go-top">
		<i class="fas fa-chevron-up"></i>
		<i class="fas fa-chevron-up"></i>
	</div>
</body>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.meanmenu.js"></script>
<script src="assets/js/jquery.appear.min.js"></script>
<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/jquery.counterup.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/main.js"></script>
</html>